{% extends 'layouts/auth.html.twig' %}

{% block title %}Account not verified!{% endblock %}

{% block page_title %}Symfony account verification{% endblock %}

{% block card_title %}Your account is not verified!{% endblock %}

{% block card_content %}
    <p class="text-gray-600 dark:text-gray-400">
        Please check your email and verify your account.
    </p>
{% endblock %}